<div class="container">
  <h1>Welcome to Dummy Users!</h1>
  <p>Sign Up</p>
  <form action="/signup" method="POST">

    <label>Name: <input type="text" name="user[name]" placeholder="Name"></label><br>
    <label>Email: <input type="text" name="user[email]" placeholder="Email"></label><br>
    <label>Password: <input type="text" name="user[password]" placeholder="Password"></label><br>
    <label>Confirm Password :<input type="text" name="password_confirmation" placeholder="Password_Confirmation"></label>
<br>
    <!-- Button! -->
    <input type="submit" value="SignUp">
  </form>


    <p>Login</p>

  <form action="/login" method="POST">

    <label>Email: <input type="text" name="email" placeholder="Email"></label><br>
    <label > Password: <input type="text" name="password" placeholder="Password"></label><br>
    <input type="submit" value="login">
  </form>


</div>
